<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registarse</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <%- include('./header.ejs') %>
    <div class="titulo-create">
        <h3>Formulario de registro</h3>
    </div>
    <form action="/register" method="POST" class="create-form" enctype="multipart/form-data">
        <div class="control-form" >
            <label for="name">Nombre completo:</label>
            <input 
                type="text" name="name" 
                id="name" placeholder="Ingresa nombre del producto" 
                class="control" value="<%= locals.oldData ? oldData.name : null %>"
            >
            <% if(locals.errors && errors.name) { %>
                <div class="text-danger">
                        <p><%= errors.name.msg %></p>
                </div>
            <% } %>
        </div>
        <div class="control-form">
            <label for="email">Correo Electronico:</label>
            <input 
                type="email" name="email" placeholder="Ingresa E-mail" 
                class="control" value="<%= locals.oldData ? oldData.email : null %>">
            <% if(locals.errors && errors.email) { %>
                <div class="text-danger">
                        <p><%= errors.email.msg %></p>
                </div>
            <% } %>
        </div>
        <div class="control-form">
            <label for="password">Contraseña:</label>
           <input type="password" name="password" placeholder="*******" class="control">
           <% if(locals.errors && errors.password) { %>
            <div class="text-danger">
                    <p><%= errors.password.msg %></p>
            </div>
        <% } %>
        </div>
        <div class="control-form">
            <% 
                let paises = ['Mexico', 'USA', 'Alemania', 'Rusia', 'Suiza'];
            %>
            <label for="country">Pais de origen:</label>
            <select name="country" id="country" >
                <option value="" disabled selected hidden>-Selecciona el pais-</option>
                <% for(const pais of paises) {%>
                    <option 
                        value="<%= pais %>"
                        <%= locals.oldData && (pais === oldData.country ? 'selected' : null ) %>
                    > <%= pais %> </option>
                <% } %>
            </select>
            <% if(locals.errors && errors.country) { %>
                <div class="text-danger">
                        <p><%= errors.country.msg %></p>
                </div>
            <% } %>
        </div>
        <div class="control-form">
            <label for="file">Imagen de perfil:</label>
            <input type="file" name="profileImage" class="control">
            <% if(locals.errors && errors.image) { %>
                <div class="text-danger">
                        <p><%= errors.image.msg %></p>
                </div>
            <% } %>
        </div>
        <div class="control-buttons">
            <div class="create-button">
                <button type="submit">REGISTRARSE</button>
            </div>
            <div class="cancel-button">
                <button type="reset">CANCELAR</button>
            </div>
        </div>
    </form>
</body>
</html>